


.body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.formu{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   
    text-align: left;
    width: 340px;
}

.inp{
   display: flex;
   flex-direction: column;
   text-align: left;
    
}
h2{
    color:#0a0a0a;
    font-size: 35px;
    display: flex;
    justify-content: center;
    text-align: center;
}
label{
    
    color: #030303;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 15px;
}
input{
    padding: 12px 15px;
 
    margin-bottom: 20px;
   
    color:283629;
    outline: none;

}
input::placeholder{
    color: #a8a7a7;
    
}
.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
   

}
.form-txt * {
    color:#202020;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

}

.btn{

    font-size: 16px;
    color:white;
    border:0;
    border-radius: 25px;
   
   
    cursor:pointer;
}
.bth:hover{
    background-color: ;

}

.back{
    color:#0d0c0d;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 2px
}

@media(max-width-991px){

    .body{
        padding: 30px;


    }
    .formu{
        padding: 50px 30px;
        width: 100%;
    }

    input{
        padding:15px;
    }

}